<div class="container m-3">
  <h1 class="text-center"> My Lists </h1>
  <ul class="list-unstyled">
    <% @lists.each do |list|%>
      <li class="text-center"> <%= link_to list.name, list_path(list) %></li>
    <% end %>
  </ul>
  <%= link_to "Create a list", new_list_path, class: "btn btn-ghost justify-content-center"%>
</div>
