.navbar-lewagon {
  justify-content: space-between;
  background: rgba(255, 255, 255, 0.41);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
  border: solid rgba(255, 255, 255, 0.419);
  border-radius: 10px;
  object-position: center;
  object-fit: cover;
}
